body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  padding-left: 10px;
}

.thumbnail > img {
  max-width: 360px;
  max-height: 260px;
}

.video-grid {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-around;*/
}

.video {
  width: 360px;
  margin: 15px;
}

.popular, .institutional {
  display: none;
}

.banner {
  width: 100vw;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 35vw;
}

.tabs {
  display: flex;
  position: absolute;
  top: 150px;
}

.tab {
  padding: 10px;
  margin: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.active-tab {
  background-color: rgba(255, 0, 0, 0.2);
}

.panel {
  display: none;
}

.active-panel {
  display: block;
}
